/* Base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card {
  width: 90%;
  max-width: 470px;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  margin: 70px auto;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: none;
  outline: none;
  background-color: #ebfffc;
  color: #555;
  padding: 10px 25px;
  border-radius: 30px;
  height: 60px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: none;
  outline: none;
  background-color: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img {
  width: 19px;
  text-align: center;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.weather {
  display: none;
}
.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 20px;
  display: none;
}
footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  color: #ebfffc;
  bottom: 0;
  left: 0;
  background: #141e30;
}
footer a {
  color: #00feba;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .card {
    padding: 30px 25px;
  }

  .weather h1 {
    font-size: 60px;
  }

  .weather h2 {
    font-size: 35px;
  }

  .weather-icon {
    width: 130px;
  }

  .col img {
    width: 30px;
  }

  .humidity,
  .wind {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    margin-top: 70px;
  }

  .search input {
    font-size: 16px;
    padding: 8px 20px;
    width: 0;
  }

  .search button {
    width: 50px;
    height: 50px;
  }

  .weather h1 {
    font-size: 50px;
  }

  .weather h2 {
    font-size: 30px;
  }

  .weather-icon {
    width: 100px;
    margin-top: 20px;
  }

  .details {
    flex-direction: column;
    margin-top: 30px;
  }

  .col {
    margin-bottom: 10px;
  }

  .col img {
    width: 25px;
  }

  .humidity,
  .wind {
    font-size: 20px;
  }

  footer {
    font-size: 14px;
    padding: 15px 0;
  }
}
